fastapi
funasr
modelscope==1.17.1
numpy<=1.26.4
pydantic
pydantic_settings
soundfile
starlette
torch==2.3.0
torchaudio==2.3.0
uvicorn
addict
datasets==2.21.0
pillow
simplejson
sortedcontainers
websockets
loguru
pydub
